.b-page__head-line {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  background: url("/assets/images/bg.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 801px;
  gap: 100px;
  overflow: hidden;
}

.b-head {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30%)[2];
  grid-template-columns: repeat(2, 30%);
  -ms-grid-rows: (20%)[1];
  grid-template-rows: repeat(1, 20%);
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-line-pack: center;
      align-content: center;
}

.b-head > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.b-head > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}

.b-head__media {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 10% 1em 10% 1em 10% 1em 10% 1em 10%;
  grid-template-columns: repeat(5, 10%);
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  gap: 1em;
}

.b-head__icon {
  background-image: url("/assets/icons/icon_rect.svg");
}

.b-head__button {
  -ms-grid-column-align: right;
      justify-self: right;
  -ms-flex-line-pack: center;
      align-content: center;
}

.button {
  background: none;
  border: solid white;
  border-radius: 0.3em;
  color: white;
  padding: 0.3em 1.2em;
  font-family: "Futurademic Regular";
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.button:hover {
  background-color: #648A93;
}

.b-head__content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 35% 15%;
  grid-template-columns: 35% 15%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.list-download {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: ;
  grid-template-rows: repeat(4);
  width: 250px;
  color: white;
  gap: 5px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.item__popup {
  -ms-grid-column-align: end;
      justify-self: end;
  height: 30px;
}

.popup__text {
  font-family: "Futurabookc Regular";
  font-size: 10px;
  text-transform: uppercase;
  position: relative;
  bottom: 3.8em;
  left: 0.6em;
  z-index: 3333;
}

.popup__img {
  width: 125px;
}

.item__download {
  overflow: hidden;
  text-align: center;
  font-size: 12px;
  font-family: "Futurabookc Regular";
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.download__text {
  display: inline-block;
  vertical-align: middle;
}

.item__download:before,
.item__download:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 0.2px;
  background-color: white;
  position: relative;
}

.item__download:before {
  margin-left: -100%;
  left: -14px;
}

.item__download:after {
  margin-right: -100%;
  right: -14px;
}

.item__download_details {
  margin-top: 0.2em;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 125px 1em 125px;
  grid-template-columns: repeat(2, 125px);
  gap: 1em;
}

.download__ios, .download__android {
  border: 1px solid white;
  border-radius: 6px;
  color: #cdcdcd;
}

.block__mobile {
  height: 510px;
}

.footer {
  margin-top: 1em;
  background: url("/assets/images/bg.jpg") no-repeat center center;
  background-size: cover;
  width: 100%;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 100px;
}

.footer__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.condition {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  gap: 10px;
  text-transform: uppercase;
  font-family: "Futurabookc Regular";
  font-size: 12px;
}

.politic, .rules {
  color: #828282;
}

.copyright {
  color: #d4d4d4;
  text-transform: uppercase;
  font-family: "Futurabookc Regular";
}

.copyright_img {
  color: #d4d4d4;
  width: 18px;
  height: 18px;
}

.contact_btn {
  background: none;
  border: 3px solid #d4d4d4;
  border-radius: 4px;
  color: #d4d4d4;
  text-align: center;
  text-transform: uppercase;
  padding: 4px 8px;
  font-family: "Futurademic Regular";
}

.contact_img {
  width: 11px;
  height: 11px;
}

@font-face {
  font-family: "Futurabookc Regular";
  src: url("/assets/fonts/FuturaBookCRegular.otf");
}
@font-face {
  font-family: "Futurabookc Italic";
  src: url("/assets/fonts/FuturaBookCItalic.otf");
}
@font-face {
  font-family: "Futurademic Regular";
  src: url("/assets/fonts/Futurademic.otf");
}
.b-page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.content__scrolldown {
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  bottom: 1.1em;
  z-index: 444;
}

.scroll_button {
  background-color: #29D3D1;
  color: white;
  font-family: "Futurademic Regular";
  width: 277px;
  height: 49px;
  border-radius: 12px;
  border: none;
  text-transform: uppercase;
  -webkit-box-shadow: 0 0 20px rgba(1, 1, 1, 0.5);
          box-shadow: 0 0 20px rgba(1, 1, 1, 0.5);
  word-spacing: 23px;
}

.scroll_button:hover {
  background-color: #648A93;
}

.scroll_button__img {
  width: 37px;
  height: 17px;
}

/* cards */
.content__cards {
  margin-top: 20px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 18% 48px 18% 48px 18% 48px 18%;
  grid-template-columns: repeat(4, 18%);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 48px;
}

.card {
  text-align: center;
  font-family: "Futurabookc Regular";
}

.card img {
  width: 70px;
  height: 78px;
}

/* tabs */
.b-page__tabs {
  width: 100%;
  height: 431px;
  background-color: #29D3D1;
  margin-top: 7em;
}

.tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.tabs__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

.tabs__item {
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  color: #d2ebf0;
  text-decoration: none;
  font-size: 24px;
  font-family: "Futurabookc Regular";
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.tabs__item:hover {
  -webkit-text-decoration: underline 3px solid;
          text-decoration: underline 3px solid;
  text-underline-offset: 12px;
  color: white;
}

.tabs__mobile_img {
  position: relative;
  bottom: 4.1em;
}

.tabs__body {
  width: 47%;
  -ms-flex-item-align: end;
      align-self: flex-end;
  position: relative;
  bottom: 30em;
  right: 3.4em;
}

.tabs__block {
  color: white;
  font-size: 18px;
  display: none;
  font-family: "Futurabookc Regular";
}

.tabs__block:target {
  display: block;
}

/* actions */
.b-page__actions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 710px;
  width: 100%;
}

.actions__context {
  width: 100%;
  height: 408px;
  background-color: #eeeeee;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 400px 0px 400px;
  grid-template-columns: repeat(2, 400px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: end;
      align-content: flex-end;
  gap: 0px;
}

.action__context_txt {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: end;
      justify-self: end;
  font-family: "Futurabookc Regular";
  line-height: 24px;
}

.context_txt__title {
  text-transform: uppercase;
  font-family: "Futurademic Regular";
}

.action__context_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 0px;
}

.context_img_left {
  position: relative;
  z-index: 222;
}

.context_img_right {
  width: 349px;
  height: 544px;
  position: relative;
  bottom: 2em;
  right: 5em;
}

/* swiper */
.b-page__swiper {
  margin-top: 3em;
}

.swiper__title {
  color: #ef6e3f;
  text-align: center;
  font-family: "Futurademic Regular";
  text-transform: uppercase;
  letter-spacing: 2px;
}

.swiper__tape {
  background-color: #e86450;
  max-width: 100%;
}

.swiper {
  width: 70%;
  height: 200px;
}

.swiper-slide {
  text-align: center;
}

.image_slider {
  margin-top: 60px;
}

/* partnerships */
.b-page__partnership {
  margin-top: 2em;
  text-align: center;
}

.partnership__txt {
  text-align: center;
  font-family: "Futurabookc Regular";
  letter-spacing: 1px;
  line-height: 5px;
}

.partnership__button {
  color: white;
  border: none;
  border-radius: 4px;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 12px 54px 12px 54px;
  background-color: #29D3D1;
  font-family: "Futurabookc Regular";
  font-size: 12px;
  margin: 2em;
}